body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7ecef;
    margin: 0px;
}
.table {
    justify-content: center;
}
.titulo {
    border: 1px #1d3557 solid ;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: rgba(255, 246, 226, 0.945);
    background-color: #36383688;
    padding: 10px 10px 0px 10px;
}
header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    border: 1px solid #49635896;
    border-radius: 1%;
    margin: 0;
    padding: 10px;
    background-color: #274c77;
    flex-wrap: wrap;
    }
.options{
        display: flex;
        margin: 10px 10px 10px 10px;
        border-radius: 15px;
        padding: 1%;
        flex-direction: column;
    }
.euro_img{
    margin: 5px;
    max-width: 250px;
    height: 250px;
    border-radius: 15px;
}
.options #dolar{
    flex-direction: row-reverse;
}

.euro_container{
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #5d83b9;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
 }
.euro-title_container{
    display: flex;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    background-color: #a3cef1;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
}
.euro_article{
    background-color: #a3cef1;
    box-shadow: 3px 3px 5px black;
}
.euro_p{
    text-align: center;
    padding: 10px;
}
.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dolar_container {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #5d83b9;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.dolar-title_container {
    display: flex;
    box-shadow: 3px 3px 5px black;
    text-align: center;
    background-color: #a3cef1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dolar_article{
    background-color: #a3cef1;
    box-shadow: 3px 3px 5px black
}
.dolar_img {
    margin: 5px;
    max-width: 250px;
    height: 250px;
    border-radius: 15px;
}
.dolar_p {
    text-align: center;
    padding: 10px;
}

.table_section{
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #5d83b9;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin: 15px;
}
.table-title_container{
    color: white;
}
.table_conversions{
    border: 5px #a3cef1 solid;
    border-radius: 5%;
    background-color: black;
}
.table_head{
    background-color: gray;
}
.table_body{
    background-color: white;
    border: 2px black solid;
}








.navbar a{
    color: rgba(255, 246, 226, 0.945);
    text-decoration: none;
    padding: 4px;
    transition: all 200ms ease-in-out;
    justify-content: space-around;
}
.navbar a:hover {
    background-color: #a4c3c396;
}
footer {
    background-color: gray;
    text-align: center;
}

@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 576px){
    h1 {
        font-size: 3em;
    }
}