body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7ecef;
    margin: 0px;
}
.table {
    justify-content: center;
}
.titulo {
    border: 1px #1d3557 solid ;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: rgba(255, 246, 226, 0.945);
    background-color: #36383688;
    padding: 10px 10px 0px 10px;
}
header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    border: 1px solid #49635896;
    border-radius: 1%;
    margin: 0;
    padding: 10px;
    background-color: #274c77;
    flex-wrap: wrap;
    }
.options{
        display: flex;
        margin: 10px 10px 10px 10px;
        border-radius: 15px;
        padding: 1%;
        flex-direction: column;
    }
.options img{
    margin: 10px 10px 10px 10px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
.options div{
    display: flex;
    border: 20px #4b718d solid;
    text-align: center;
    background-color: #a3cef1;
    justify-content: center;
    flex-direction: row;
    
}
.options #dolar{
    flex-direction: row-reverse;
}
 #dolar div{
    display: block;
    flex-direction: column;
    justify-content: center;
 }
 #euro div{
    display: block;
    flex-direction: column;
    justify-content: center;
 }


.navbar a{
    color: rgba(255, 246, 226, 0.945);
    text-decoration: none;
    padding: 4px;
    transition: all 200ms ease-in-out;
    justify-content: space-around;
}

.navbar a:hover {
    background-color: #a4c3c396;
}
footer {
    background-color: gray;
    text-align: center;
}

@media (max-width: 768px){
    h1 {
        font-size: 4em;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 576px){
    h1 {
        font-size: 3em;
    }
}